{% extends "../layouts/base.twig" %}
{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="css/headerDashboard.css">
	<link rel="stylesheet" href="css/dashboardDirector.css">
	<link rel="stylesheet" href="css/footer.css">
{% endblock %}

{% block header %}
	{% include "../partials/headerDashboard.twig" %}
{% endblock %}


{% block main %}


	<div class="container">
		<div class="sideBar">


			<p class="nameUser">
				{{user.lastname}}
				{{user.firstname}}</p>

			<p class="nameSchool">Etablissement:
				{{user.school.name}}
			</p>


			<p>
				<a href="/dashboardDirector">Tableau de bord</a>
			</p>
			<p>
				<a href="/professor">Professeurs</a>
			</p>
			<p>
				<a href="/student">Elèves</a>
			</p>
		</div>


            <div class="center">
           {% for classroom in classrooms %}
             <p> {{classroom.name}} {{classroom.nbMaxStudent}} </p>
           {% endfor %}
           <p>{{countStudent}} </p>
            </div>

	{% endblock %}