{% extends "../layouts/base.twig" %}


{% block style %}
	<link rel="stylesheet" href="css/headerDashboard.css">
	<link rel="stylesheet" href="css/dashboardDirector.css">
	<link rel="stylesheet" href="css/table.css">
	<link rel="stylesheet" href="css/footer.css">
{% endblock %}

{% block header %}
	{% include "../partials/headerDashboard.twig" %}
{% endblock %}


{% block main %}


	<div class="container">
		<div class="sideBar">


			<p class="nameUser">
				{{user.lastname}}
				{{user.firstname}}</p>

			<p class="nameSchool">Etablissement:
				{{user.school.name}}
			</p>


			<p>
				<a href="/dashboardDirector">Tableau de bord</a>
			</p>
			<p>
				<a href="/professor">Professeurs</a>
			</p>
			<p>
				<a href="/student">Elèves</a>
			</p>
		</div>


		<div class="center">
			<div class="table-container">
				<h2>Liste des classes</h2>
				<table class="table">
					<thead>
						<tr>
							<th>Nom de la classe</th>
							<th>Capacité total</th>
							<th>Nombre d'élève</th>
							<th>Modfier</th>
							<th>Supprimer</th>
							<th>Liste des élèves</th>
						</tr>
					</thead>
					<tbody>
						{% for classroom in classrooms %}
							<tr>
								<form action="/{{classroom.id}}/classroom/update" method={% if updateClassroom == classroom.id %} "post" {% else %} "get" {% endif %}>
									<td>
										{% if updateClassroom == classroom.id %}
											<input type="text" name="name" value="{{classroom.name}}">
										{% else %}
											{{ classroom.name }}
										{% endif %}
									</td>
									<td>
										{% if updateClassRoom == classroom.id %}
											<input type="text" name="nbMaxStudent" value="{{classroom.nbMaxStudent}}">
										{% else %}
											{{ classroom.nbMaxStudent }}
										{% endif %}
									</td>
									<td>{{ classroom.nbStud }}</td>
									{# BOUTON MODIFIER / VALIDER #}
									<td>
										<button class="{% if updateClassroom == classroom.id %}btn-validate{% endif %}">
											{% if updateClassroom == classroom.id %}
												Valider
											{% else %}
												Modifier
											{% endif %}
										</button>
									</td>
								</form>
								
								{# FORMULAIRE SUPPRESSION #}
								<td>
									<form action="/{{ classroom.id }}/classroom/delete" method="post">
										<button class="btn-delete">Supprimer</button>
									</form>
								</td>
								<td><button id = "btn">Afficher les élèves</button></td>

							</tr>
						{% endfor %}
					</tbody>
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
