{% extends "../layouts/base.twig" %}


{% block style %}
	<link rel="stylesheet" href="css/headerDashboard.css">
	<link rel="stylesheet" href="css/dashboardDirector.css">
	<link rel="stylesheet" href="css/footer.css">
{% endblock %}

{% block header %}
	{% include "../partials/headerDashboard.twig" %}
{% endblock %}

{% block main %}

	<div class="container">
		<div class="sideBar">


			<p class="nameUser">Bonjour
				{{user.lastname}}
				{{user.firstname}}</p>

			<p class="nameSchool">Etablissement:
				{{user.school.name}}
			</p>


			<p>
				<a href="#">Tableau de bord</a>
			</p>
			<p>
				<a href="#">Professeurs</a>
			</p>
			<p>
				<a href="#">Classes</a>
			</p>
			<p>
				<a href="#">Elèves</a>
			</p>
		</div>
		<div class="center">
			<div class="top-section">
				<div class="cars">
					<h3>Total professeur :</h3>
					<p>
						<b>{{totalProfessor}}</b>
					</p>
				</div>

				<div class="cars">
					<h3>Total classe :</h3>
					<p>
						<b>{{totalClassroom}}</b>
					</p>
				</div>

				<div class="cars">
					<h3>Total élève :</h3>
					<p>
						<b>{{totalStudent}}</b>
					</p>
				</div>

			</div>
			<div class="box-btn">
				<button id="btn-add-professor">Ajouter un professeur</button>
				<button id="btn-add-classroom">Ajouter une classe</button>
				<button id="btn-add-student">Ajouter un élève</button>
			</div>
			<div class="modal-professor" id="modal-add-professor">
				<div class="modal-container">
					{% include "../pages/formAddProfessor.twig" %}

				</div>
			</div>
			<div class="modal-classroom" id="modal-add-classroom">
				<div class="modal-container">
					{% include "../pages/formAddClassroom.twig" %}
				</div>
			</div>
			<div class="modal-student" id="modal-add-student">
				<div class="modal-container">
					{% include "../pages/formAddStudent.twig" %}
				</div>
			</div>


			<div class="affect-section">

				<h3>Affecter une classe à un professeur</h3>
				<div class="classroom-professor">

					<form class="form" action="/dashboardDirector" method="post">
						<div class="form-group">
							<label for="professor">Liste des professeurs</label>
							<select name="professor" id="professor">
								<option value="">------Selectionner un professeur------</option>
								{% for professor in professors %}
									<option value="{{professor.id}}">{{professor.lastname}}
										{{professor.firstname}}
									</option>
								{% endfor %}
							</select>

							<button type="submit" id="btn-affect-professor">Affecter</button>


						</div>


						<div class="form-group">
							<label for="classroom">Liste des classes</label>
							<select name="classroom" id="classroom">
								<option value="">------Selectionner une classe------</option>
								{% for classroom in classrooms %}
									<option value="{{classroom.id}}">{{classroom.name}}</option>
								{% endfor %}
						
						</select>
					</div>
				</form>


				<div class="modal-confirm" id="modal-confirm-affect">

					{% if confirmAffectation %}
						<div class="modal-container">
							{% include "../pages/formConfirmAffectProf.twig" %}
						</div>
						{# {% elseif 	confirmAffectStudent %}
																											{% include "../pages/formAffectClassroomToStudent.twig" %} #}
					{% endif %}


				</div>
			</div>
		</div>

		<div class="affect-section">

			<h3>Affecter des élèves à une classe</h3>
			<div class="classroom-professor">

				<form class="form" action="/dashboardDirector/affect" method="post">

					<div class="form-group">
						<label for="student">Liste des élèves</label>
						<select name="student_id" id="student">
							<option value="">------Selectionner un élève------</option>
							{% for studentWithClassroom in studentsWithClassroom %}
								{% if not studentWithClassroom.classroom %}
									<option value="{{studentWithClassroom.id}}">{{studentWithClassroom.lastname}}
										{{studentWithClassroom.firstname}}
									</option>
								{% endif %}
							{% endfor %}
						</select>
						<button type="submit" id="btn-affect-classroom">Affecter</button>
					</div>

					<div class="form-group">
						<label for="classroom_student">Liste des classes</label>
						<select name="classroom_id" id="classroom_student">
							<option value="">------Selectionner une classe------</option>
							{% for classroom in capaciteMaxClassroom %}
								{% if classroom.nbMaxStudent >= classroom.student.length %} 
									<option value="{{classroom.id}}">
										{{classroom.name}}
									</option>
								{% endif %}
							{% endfor %} 

						</select>
					</div>
				</div>
			</form>

		</div>
		<div class="link-affect">
			<a href="">Accéder à liste des professeurs avec leur classe</a>
		</div>
	</div>
</div>


{% block script %}
	<script src="scripts/modal.js"></script>
{% endblock %}{% endblock %}
