{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="css/headerDashboard.css">
	<link rel="stylesheet" href="css/dashboardDirector.css">
	<link rel="stylesheet" href="css/table.css">
	<link rel="stylesheet" href="css/footer.css">
{% endblock %}

{% block header %}
	{% include "../partials/headerDashboard.twig" %}
{% endblock %}


{% block main %}


	<div class="container">
		<div class="sideBar">


			<p class="nameUser">
				{{user.lastname}}
				{{user.firstname}}</p>

			<p class="nameSchool">Etablissement:
				{{user.school.name}}
			</p>


			<p>
				<a href="/dashboardDirector">Tableau de bord</a>
			</p>
			<p>
				<a href="/classroom">Classes</a>
			</p>
			<p>
				<a href="/student">Elèves</a>
			</p>
		</div>


		<div class="center">
			<div class="table-container">
				<h2>Liste des professeurs</h2>
				<table class="table">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Prénom</th>
							<th>Adresse e-mail</th>
							<th>Modifier</th>
							<th>Supprimer</th>
						</tr>
					</thead>

					<tbody>
						{% for professor in professors %}
							<tr>
								<form action="/{{professor.id}}/professor/update" method={% if updateProf == professor.id %} "POST" {% else %} "GET" {% endif %}>
									<td>
										{% if updateProf == professor.id %}
											<input type="text" name="lastname" value="{{professor.lastname}}">
										{% endif %}
										{{professor.lastname}}
									</td>
									<td>
										{% if updateProf == professor.id %}
											<input type="text" name="firstname" value="{{professor.firstname}}">
										{% endif %}
										{{professor.firstname}}
									</td>
									<td>
										{% if updateProf == professor.id %}
											<input type="text" name="mail" value="{{professor.mail}}">
										{% endif %}
										{{professor.mail}}
									</td>

									<td>
										<button class="{% if updateProf == professor.id %}btn-validate{% endif %}">
											{% if updateProf == professor.id %}
												Valider
											{% else %}
												Modifier
											{% endif %}
										</button>
									</td>
								</form>
								<td>
									<form action="/{{professor.id}}/professor/delete" method="post">
										<button class="btn-delete">Supprimer</button>
									</form>
								</td>


							</tr>
						{% endfor %}
					</tbody>
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
